#heading {
  position: fixed;
  width: 100%;
  padding: 32px;
}

.border {
  background: linear-gradient(90deg, gray, 90%, black);
  height: 2px;
  width: 80vw;
  margin-top: 4px;
}

#progress {
  font-size: 3em;
  color: black;
}

#load-file {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* #control-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

button, label, p.p-button {
  font-weight: bold;
  font-size: 0.8em;
  margin: 0px;
}


.action-button {
  background: linear-gradient(90deg, #555, #999);
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 1.2em;
  /* font-family: 'Courier New'; */
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.action-button:hover {
  background: linear-gradient(90deg, #777, #bbb);
  transform: scale(1.05);
}

.action-button:active {
  background: linear-gradient(90deg, #333, #666);
  transform: scale(1);
}

.image-button.very-small-half img {
  width:  15px;
  height: 10px;
  padding: 0px 0px;
}
.image-button.very-small-half{
  padding: 0px 0px;
}

.image-button.very-small img {
  width:  15px;
  height: 15px;
  padding: 0px 0px;
}
.image-button.very-small{
  padding: 0px 0px;
}

.image-button.small img {
  width:  25px;
  height: 25px;
}
.image-button.small {
  /* width:  25px;
  height: 25px; */
  padding: 5px 5px;
}

.image-button  {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  padding: 10px 10px;
  /* transition: all 0.3s ease; */
  font-weight: bold;
  border-radius: 4px;
}

.image-button:hover {
  /* background: linear-gradient(90deg, #777, #bbb); */
  /* transform: scale(1.1); */
  background-color: #fff;
}

.image-button:active {
  /* background: linear-gradient(90deg, #333, #666); */
  transform: scale(1);
}

.header-btn.small img {
  width:  25px;
  height: 25px;
}


/* .user-logged {
  font-weight: bold;
} */

canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
