body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #9ACBD0;
}

.header h1 {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9ACBD0;
    color: #23486A;
    font-weight: bold;
    height: 65px
}

.title {
    padding: 20px;
    /* font-size: 2.0em; */
    flex: 1;
    text-align: left;
}

.div-logo {
    padding: 0px;
    background-color: #F2EFE7;
    width: 65px;
    height: 100%;
}

h2 {
    /* color: rgb(215, 215, 215); */
    margin: 3px;
    font-weight: 100;
} 
  
h3 {
    /* color: rgb(215, 215, 215); */
    margin: 3px;
    font-weight: 75;
} 
  
p {
    margin-top: 0px;
    margin-bottom: 10px;
    /* padding: 5px; */
} 
  
.clickable-row {
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.header-btn {
    background-color: #9acbd0;
    color: #F2EFE7;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
    border: 1px solid #2973B2;
}

.header-btn:hover {
    background-color: #48A6A7;
}

.main-container {
    display: flex;
    flex-grow: 1;
    height: 100vh;
}

#canvas-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}


.head-tab-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #2973B2;
    cursor: pointer;
    padding: 0px;
    background-color: #9acbd0;
    width: 65px;
    min-width: 65px;
    height: 100%;
}
.head-tab-link:hover {
    background-color: #48A6A7;
}

.head-tab-link.active {
    background-color: #2973B2;
}


.tab-container {
    display: flex;
    height: 100%;
}

.tab-link {
    font-size: 1.2em;
}

.tabs {
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs button {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #9ACBD0;
    color: #F2EFE7;
    border: none;
    outline: none;
    padding: 15px 21px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #2973B2;
    font-weight: bold;
}
.tabs button:hover {
    background-color: #48A6A7;
}

.tabs button.active {
    background-color: #2973B2;
}

.tabs-content {
    flex-grow: 1;
    padding: 10px;
    background-color: #F2EFE7;
    /* min-width: 300px; Fixed minimum width for content */
    width: 200px;
    display: none;
}

.tabs-content.active {
    display: block;
}

.tab-content {
    width: 200px;
    display: none;
    color: #23486A;
}

.tab-content.active {
    display: block;
}

.static-content {
    position: relative;
    color: #23486A;
    flex: 1;
    background-color: white;
    border-left: 1px solid #9ACBD0;
    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.static-content.active {
    display: flex;
    display: block;
}

canvas {
    width: 100%;
    height: 100%;
}


/* actions menu */

#actions-container {
    position: absolute;
    top: 10px;
    left: 10px;
    /* width: 250px;
    height: 250px; */
    /* border: 1px solid #9ACBD0; */
    /* background-color: white; */
    /* display: none; */
    z-index: 10;
}


/* file menu */

#file-container {
    position: absolute;
    top: 10px;
    right: 10px;
    /* width: 250px;
    height: 250px; */
    /* border: 1px solid #9ACBD0; */
    /* background-color: white; */
    /* display: none; */
    z-index: 10;
    text-align: right;
}




/* thumbnail */

#scene-thumbnail-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 250px;
    height: 250px;
    border: 1px solid #9ACBD0;
    background-color: white;
    display: none;
    z-index: 5;
}

#scene-thumbnail {
    width: 100%;
    height: 100%;
}


/* Modal */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.modal-buttons {
    margin-top: 10px;
    text-align: right;
}


/* Selecting table */

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
tr.selected {
    background-color: #add8e6;
}


input {
    text-align: right;
    margin: 5px;
}

#mandrel-canvas {
    margin: 5%;
    z-index: 0;
}


/* animateControls */

.animateControls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* padding: 10px; */
    display: flex;
    /* gap: 10px; */
    z-index: 10;

    /* display: flex; */
    flex-direction: column; /*Вертикальное расположение*/
    align-items: center; /* Центрирование внутренних div */
    justify-content: center; /* Центрирование по вертикали */
}

.modebar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.mode-button {
    padding: 10px;
    border: 2px solid #ccc;
    background: white;
    cursor: pointer;
    border-radius: 5px;
}
.mode-button.active {
    background: #007bff;
    color: white;
    border-color: #007bff;
}


.player-bar {
    display: flex;
    background: rgba(0, 0, 0, 0.05); /* Полупрозрачный фон */
    width: 100%;
}

#scene-canvas-div {
    position: relative; /* Для абсолютного позиционирования */
    width: 100%;
    height: 100%;
}

#animateSlider {
    flex-grow: 1; /* Растягивает слайдер */
    margin: 10px;
}

.toggle-button { 
    margin: 5px;
    width: 40px; 
    height: 40px; 
    background: url('./img/released.png') no-repeat center center / cover;
    border: none; 
    cursor: pointer; 
}
.toggle-button.active { 
    background: url('./img/pressed.png') no-repeat center center / cover;
}


.program-bar {
    font-size: 20px;
    font-weight: bold;
}


/* error */
#error-container { 
    position: fixed;
    bottom: 10px;
    left: 15px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    /* 
    width: auto; // Автоширина под текст
    maxWidth: 70%; // Ограничение максимальной ширины
    */
    width: 40%;
    text-align: left;
    z-index: 20;
}

#error-close-button { 
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin-left: 10px;
}

#error-list { 
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#help-container {
    padding: 10px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: justify;
    font-size: 20px;
    z-index: 30;
    overflow: auto;
}

.help-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #9ACBD0;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
}

.help-close-btn:hover {
    background: #2973B2;
}
