body {
    margin: 0;
    font-family: Arial;
    /* font-family: 'Courier New'; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #9ACBD0;
}
  
.header h1 {
    margin: 0;
    font-size: 1.6em;
}

h2 {
    /* color: rgb(215, 215, 215); */
    color: #23486A;
    margin: 3px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3em;
} 
  
h3 {
    /* color: rgb(215, 215, 215); */
    margin: 3px;
    font-weight: 75;
} 

strong {
    color: #23486A;
}

ul {
    margin-top: 0px;
    margin-bottom: 6px;
}

p {
    margin-top: 0px;
    margin-bottom: 6px;
    /* padding: 5px; */
    font-size: 1.0em;
}

button {
    font-family: Arial;
}
  
.title {
    padding: 20px;
    /* font-size: 2.0em; */
    flex: 1;
    text-align: left;
}

.div-logo {
    padding: 0px;
    background-color: #F2EFE7;
    width: 65px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9ACBD0;
    color: #23486A;
    font-weight: bold;
    height: 65px;
}


.clickable-row {
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 0px;
    padding: 0px;
    height: 100%;
}

.buttons button {
    position: relative;
    background-color: #9acbd0;
    color: #F2EFE7;
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.9em;
    border: 1px solid #2973B2;
    font-weight: bold;
    height: 100%;
    width: 100%;
}
.buttons button.active {
    background-color: #2973B2;
}
.buttons button:hover {
    background-color: #48A6A7;
}
.buttons button.active:hover {
    background-color: #48A6A7;
}
.div-logo button::before,
.buttons button::before {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    height: 5px;
    /* top: 5px; */
    bottom: 0px;
    background-color: #2973B2; /* Цвет полосы */
}
.div-logo button.active::before,
.buttons button.active::before {
    background-color: #9acbd0;
}

.main-container {
    display: flex;
    flex-grow: 1;
    height: 100vh;
    position: relative;
}

#canvas-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}


.head-tab-link {
    position: relative;
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #2973B2;
    cursor: pointer;
    padding: 0px;
    background-color: #9acbd0;
    width: 65px;
    min-width: 65px;
    height: 100%;
}
.head-tab-link:hover {
    background-color: #48A6A7;
}
.head-tab-link.active {
    background-color: #2973B2;
}
.head-tab-link.active:hover {
    background-color: #48A6A7;
}


.tab-container {
    display: flex;
    height: 100%;
}

.tab-link {
    font-size: 1.2em;
}

.tabs {
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs button {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #9ACBD0;
    color: #F2EFE7;
    outline: none;
    padding: 15px 21px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #2973B2;
    font-weight: bold;
}
.tabs button:hover {
    background-color: #48A6A7;
}
.tabs button.active {
    background-color: #2973B2;
}
.tabs button.active:hover {
    background-color: #48A6A7;
}
.div-logo button::after,
.tabs button::after {
    content: "";
    position: absolute;
    top: 20%;   /* Отступ сверху */
    bottom: 20%; /* Отступ снизу */
    left: 0px;   /* Прижимаем к правому краю */
    width: 5px; /* Ширина полосы */
    background-color: #2973B2; /* Цвет полосы */
}
.div-logo button.active::after,
.tabs button.active::after {
    background-color: #9acbd0;
}


.tabs-content {
    flex-grow: 1;
    padding: 10px;
    background-color: #F2EFE7;
    /* min-width: 300px; Fixed minimum width for content */
    width: 200px;
    display: none;
}

.tabs-content.active {
    display: block;
}

.tab-content {
    width: 200px;
    display: none;
    color: #23486A;
}

.tab-content.active {
    display: block;
}

.static-content {
    position: relative;
    color: #23486A;
    flex: 1;
    background-color: white;
    border-left: 1px solid #9ACBD0;
    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.static-content.active {
    display: flex;
    display: block;
}

canvas {
    width: 100%;
    height: 100%;
}


/* actions menu */

#actions-container {
    position: absolute;
    top: 10px;
    left: 10px;
    /* width: 250px;
    height: 250px; */
    /* border: 1px solid #9ACBD0; */
    /* background-color: white; */
    /* display: none; */
    z-index: 10;
}


/* file menu */

#file-container {
    position: absolute;
    top: 10px;
    right: 10px;
    /* width: 250px;
    height: 250px; */
    /* border: 1px solid #9ACBD0; */
    /* background-color: white; */
    /* display: none; */
    z-index: 10;
    text-align: right;
}




/* thumbnail */

#scene-thumbnail-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 250px;
    height: 250px;
    border: 1px solid #9ACBD0;
    background-color: white;
    display: none;
    z-index: 5;
}

#scene-thumbnail {
    width: 100%;
    height: 100%;
}


/* Modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.modal-buttons {
    margin-top: 10px;
    text-align: right;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 90;
}


/* Selecting table */

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}
th {
    background-color: #9ACBD0;
}
tr.selected {
    background-color: #2973B2;
    color: #F2EFE7;
}
tr {
    background-color: white;
}


input {
    text-align: right;
    margin: 5px;
}

#mandrel-canvas {
    z-index: 0;
}


.floatingControl{
    background: hsla(139, 69%, 90%, 0.9);
}


/* animateControls */

#animateControls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* padding: 10px; */
    display: flex;
    /* gap: 10px; */
    z-index: 10;

    /* display: flex; */
    flex-direction: column; /*Вертикальное расположение*/
    align-items: center; /* Центрирование внутренних div */
    justify-content: center; /* Центрирование по вертикали */
}

#modeBar {
    display: flex;
    padding: 0px;
    height: 40px;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
}
#modeBar div {
    display: flex;
    gap: 0px;
}
#modeBar button {
    position: relative;
    border: 1px solid #2973B2;
    background-color: #9acbd0;
    color: #F2EFE7;
    border-radius: 2px;
    font-size: 0.8em;
    cursor: pointer;
    height: 100%;
}
/* .mode-button.active {
    background: #007bff;
    color: white;
    border-color: #007bff;
} */
#modeBar button.active {
    background-color: #2973B2;
}
#modeBar button:hover {
    background-color: #48A6A7;
}
#modeBar button.active:hover {
    background-color: #48A6A7;
}
#modeBar button::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    height: 5px;
    top: 0px;
    background-color: #2973B2;
}
#modeBar button.active::after {
    background-color: #9acbd0;
}


#playerBar {
    display: flex;
    /* background: rgba(0, 0, 0, 0.05); */
    width: 100%;
}

#scene-canvas-div {
    position: relative;
    width: 100%;
    height: 100%;
}

#animateSlider {
    flex-grow: 1;
    margin: 10px;
}

.animate-button { 
    margin: 5px;
    width: 40px;
    height: 40px; 
    background: url('./img/released.png') no-repeat center center / cover;
    border: none; 
    cursor: pointer; 
}
.animate-button.active { 
    background: url('./img/pressed.png') no-repeat center center / cover;
}

.icon-img { 
    width: 40px;
    height: 40px; 
}

.icon-img.mid{ 
    width: 30px;
    height: 30px;
}

.icon-img.small{ 
    width: 25px;
    height: 25px;
}

#programBar {
    font-size: 20px;
    font-weight: bold;
}

.vPanel {
    display: flex;
    flex-direction: column;
}

.hPanel {
    display: flex;
    align-items: center;
}

/* error */
#error-container { 
    position: fixed;
    bottom: 10px;
    left: 15px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    /* 
    width: auto; // Автоширина под текст
    maxWidth: 70%; // Ограничение максимальной ширины
    */
    width: 40%;
    text-align: left;
    z-index: 20;
}

#error-close-button { 
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin-left: 10px;
}

#error-list { 
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#help-container {
    padding: 10px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-align: justify;
    font-size: 20px;
    z-index: 30;
    overflow: auto;
}

#loginContainer {
    display: none;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 200px;  /* Минимальная ширина */
    /* max-width: 400px;  Опционально: ограничение по ширине */
    min-height: 50px;  /* Минимальная высота */
    /* max-height: 300px; Опционально: ограничение по высоте */
    background: rgba(255, 255, 255, 0.95);
    /* font-size: 20px; */
    z-index: 30;
    overflow: auto;
}

#loggedOffContainer {
    display: flex;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #9ACBD0;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
}

.closeButton:hover {
    background: #2973B2;
}

#loginContainer table {
    border-collapse: collapse;
    width: 100%;
}

#loginContainer td {
    border: 1px solid #9ACBD0;
    padding: 5px;
    vertical-align: middle;
    text-align: left;
}

#impressumContainer {
    padding: 10px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: justify;
    font-size: 20px;
    z-index: 30;
    overflow: auto;
}


.center-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #2973B2;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .center-button:hover {
    background-color: #48A6A7;
  }