body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #9ACBD0;
}

.header h1 {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9ACBD0;
    color: #23486A;
    font-weight: bold;
    height: 70px
}

.title {
    padding: 20px;
    /* font-size: 2.0em; */
    flex: 1;
    text-align: left;
}

.logo {
    padding: 10px 12px;
    background-color: #F2EFE7;
}

h2 {
    /* color: rgb(215, 215, 215); */
    margin: 3px;
    font-weight: 100;
} 
  
h3 {
    /* color: rgb(215, 215, 215); */
    margin: 3px;
    font-weight: 75;
} 
  
p {
    margin-top: 0px;
    margin-bottom: 10px;
    /* padding: 5px; */
} 
  
  
.buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.header-btn {
    background-color: #9ACBD0;
    color: #F2EFE7;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
    border: 1px solid #2973B2;
}

.header-btn:hover {
    background-color: #48A6A7;
}

.main-container {
    display: flex;
    flex-grow: 1;
    height: 100vh;
}

.tab-container {
    display: flex;
    height: 100%;
}

.tab-link {
    font-size: 1.2em;
}

.tabs {
    width: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs button {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #9ACBD0;
    color: #F2EFE7;
    border: none;
    outline: none;
    padding: 25px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #2973B2;
    font-weight: bold;
}
.tabs button:hover {
    background-color: #48A6A7;
}

.tabs button.active {
    background-color: #2973B2;
}

.tabs-content {
    flex-grow: 1;
    padding: 10px;
    background-color: #F2EFE7;
    /* min-width: 300px; Fixed minimum width for content */
    width: 200px;
    display: none;
}

.tabs-content.active {
    display: block;
}

.tab-content {
    width: 200px;
    display: none;
    color: #23486A;
}

.tab-content.active {
    display: block;
}

.static-content {
    position: relative;
    color: #23486A;
    flex: 1;
    background-color: white;
    /* padding: 20px; */
    border-left: 1px solid #9ACBD0;
    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.static-content.active {
    display: flex;
    display: block;
}

canvas {
    width: 100%; /* Канвас занимает всё доступное пространство */
    height: 100%;
}

/* Modal */

                        /* body {
                            font-family: Arial, sans-serif;
                            margin: 20px;
                        } */
                        .modal {
                            display: none;
                            position: fixed;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background-color: #fff;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                            padding: 20px;
                            z-index: 1000;
                            border-radius: 8px;
                        }
                        .modal-overlay {
                            display: none;
                            position: fixed;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.5);
                            z-index: 999;
                        }
                        .modal input {
                            margin-bottom: 10px;
                            display: block;
                        }
                        /* #myChart {
                            display: none;
                        } */
